@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css');

*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

p{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: white;
}

button{
    background: #1B97FF;
    border-radius: 8px;
    border: none;
    color: #FFF;
    padding: 9px 20px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

html{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    width: 600px;
}

input{
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: solid 2px #1B97FF;
    margin-bottom: 15px;
    opacity: .7;

    &:hover{
        opacity: 1;
    }
}

#total_votes{
    color: #1B97FF;
    margin-bottom: 50px;
}

#games_vals{
    width: 100%;
    p{
        width: 100%;
        padding: 20px;
        background-color: rgba(#1B97FF, .4);
        color: white;
        margin: 5px 0;

        &:hover{
            background-color:#1B97FF;
        }
    }
}

#div_plays{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    p{
        border-radius: 20px;
        background-color: #1B97FF;
        opacity: .7;
        padding: 10px 20px;
        color: white;
        text-align: center;
        min-width: 120px;

        &:hover{
            opacity: 1;
        }
    }
}

.chartjs-size-monitor{
    top: 200px;
}

#titleRe{
    margin-top: 600px;
}

.canvs{
    position: relative;
    canvas{
        margin: 20px 0;
    }
}
